.contenedorMain{
    width: 600px;
    height: 500px;
    padding: 10px;
}
.barraNavegacion{
    margin-top: 0px;
}
.opcionMenu{
    background: rgb(92, 157, 241);
    padding: 10px;
    width: 30%;
    margin-left:10px ;
    margin-right: 10px;
}
.elegido{
    background: rgb(8, 81, 216);
    gap: 10px;
}

.barraInformacion{
    display: flex;
    width: 100%;
    height: 5%;
    margin: auto;
}
.nombreUsuario{
    font-size: 100%;
    font-weight: bold;
    border-radius: 15px;
    width: 10%;
    height: 5%;
    margin-left: 2%;
    background: white;
    color: black;
    padding: 5px;
    margin-top: 0;
}
.cerrarSesion{
    background: rgb(235, 58, 58);
    height: 5%;
    margin-left: 63%;
    margin-top: 0;
}