.contenedorNotificaciones{
    background: rgb(83, 102, 97);
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 15px;
}

.listaSolicitudes {
    list-style: none;
    display: inline;
}

.solicitud {
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bolder;
}

.datosPersona {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.imagenPersona {
    width: 75px;
    padding: 5px;
    border-radius: 100px;
    margin-right: 10px;
}

.nombrePersona {
    text-align: left;
    color: black;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.botones {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;

}
  
.aceptar,
.rechazar {
    display: block;
    flex-shrink: 0;
    width: 100%;
    border-radius: 17px;
    background-color: rgb(41, 169, 219);
    color: rgb(255, 245, 245);
    font-size: 17px;
    padding-top:10px ;
    border: none;
}

.rechazar {
    background-color: rgb(236, 69, 69);
    margin-top:10px ;
}
.emptyContent{
    margin: 0 auto;
    align-items: center;
    margin-top: 30%;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
}