:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.App{
  padding: 50px;
  border-radius: 10px;
  background: rgba(121, 160, 182, 0.466);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473) ghostwhite;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.id_usuario,
.password,
.idRegistrarse,
.nombreRegistrarse,
.passRegistrarse{
  padding: 15px 10px;
  width: 91%;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: none;
}

.cajaLogin,
.cajaRegistrarse{
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
.iniciarSesionButton{
  background-color: #5960e4;
  width: 100%;
}
.registrarButton{
  background-color: #5960e4;
  display: block;
  margin-bottom: 10px;
  width: 97%;
}
.registrarseButton,
.volverButton{
  background: #0a1b2b;
}
.usuario{
  height: 30px;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.mensaje{
  height: 40px;
  margin: auto;
  margin-right: 10px;
  width: 80%;
  border-style: none;
  border-radius: 10px;
}
.controlMensaje{
  margin-bottom: 10px;
}
.cajaMensajes{
  background: darkgray;
  padding: 10px;
  width: 500px;
  height: 350px;
  scroll-behavior: auto;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  overflow: auto;
}
.mensajes{
  max-width: 800px;
  margin: 10px auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.message{
  background-color: #fff;
  padding: 10px 20px;
  color: black;
  border-radius: 15px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: right;
}
.message .remitente{
  background: #5960e4;
}
.message .emisor{
  background: pink;
}
.botonSalir{
  background: rebeccapurple;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
