:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.App{
  padding: 50px;
  border-radius: 10px;
  background: rgba(121, 160, 182, 0.466);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473) ghostwhite;
}
.tituloNuevoUsuario{
  font-size: 50px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.id_usuario,
.password,
.idRegistrarse,
.nombreRegistrarse,
.passRegistrarse{
  padding: 15px 10px;
  width: 91%;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: none;
}

.cajaLogin,
.cajaRegistrarse{
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
.iniciarSesionButton{
  background-color: #5960e4;
  width: 100%;
}
.registrarButton{
  background-color: #5960e4;
  display: block;
  margin-bottom: 10px;
  width: 97%;
}
.registrarseButton,
.volverButton{
  background: #0a1b2b;
}
.usuario{
  height: 30px;
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.mensaje{
  height: 40px;
  margin: auto;
  margin-right: 10px;
  width: 80%;
  border-style: none;
  border-radius: 10px;
}
.controlMensaje{
  margin-bottom: 10px;
}
.cajaMensajes{
  background: darkgray;
  padding: 10px;
  width: 500px;
  height: 350px;
  scroll-behavior: auto;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  overflow: auto;
}
.mensajes{
  max-width: 900px;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}
.message{
  background-color: #fff;
  padding: 10px 20px;
  color: black;
  border-radius: 15px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: right;
  display: flez;
  justify-content: flex-start;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-style: bold;
}
.remitente {
  background-color: rgb(43, 81, 94);
  /* Otros estilos para los mensajes enviados por el usuario */
  
}

.emisor {
  background-color: rgb(59, 161, 59);
  justify-content: flex-end;
}
.remitente .content {
  display: inline;
  float: left;
}

.emisor .content {
  display: inline;
  float: right;
}
.botonSalir{
  background: rebeccapurple;
}

.ingresarSala{
  display: block;
  margin: auto;
  width: 30%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  border-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 750px) {
  .cajaMensajes{
    height: 700px;
    width: 100hv;
  }
  .App{
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    margin-top: 30%;
  }
}
